@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Raleway);
 
/* 3 */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Press Start 2P', cursive; */
 


html, body {
    margin: 0;
    height: 100%;
  }
  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
    /* border: 1px solid black; */
  }

.page h2 {
    vertical-align: center;
    text-align: center;
    font-size: 40px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 100px;
}

.page{
    background-image: linear-gradient(rgba(0, 131, 131, 0.8), rgba(0, 48, 7, 0.8)), url(../images/bg3.webp);
    
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding-top: 5px;
    position: relative;
}

.page p {
    vertical-align: center;
    text-align: center;
    font-size: 24px;
}

.page > form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#querybox{
    font-size: 22px;
    border-radius: 10px;
    padding: 10px 7px;
    margin-bottom: 15px;
    font-weight: bold;
    width: 35vw;
    border: none;
}

@media screen and (max-width: 980px) {
#querybox{
    width: 45vw;
}
}

@media screen and (max-width: 720px) {
#querybox{
    width: 55vw;
}
}

#querybtn{
    font-size: 24px;
    border-radius: 10px;
    background-color: #329463;
    padding: 5px 25px;
    border: 1px solid transparent;
}

#querybtn:hover{
    border: 1px solid white;
}

#querybtn:active{
    padding-top: 6px;
    padding-bottom: 4px;
}

form>button>i{
    margin-right: 10px;
}

#result{
    width: 80%;
    height: 250px;
    background-color: white;
    margin: 20px auto;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
    padding: 7px;
    overflow-y: visible;
    
}

/******************************/

 


.altlik{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 720px) {
    .altlik{
        flex-direction: column;
        align-items: center;
        border-top: 1px solid grey;
        margin-top: 20px;
    }

    .altlik div:nth-child(2){
        order: 3;
    }
}

.altiniciz:hover{
    text-decoration: underline;
}

.sag>span>a{
    color: white;
    text-decoration: none;
}

.sag .alt{
    font-size: .7em;
}

.allrightsreserved{
    font-size: .7em;
    text-align: center;
}

.sol > a{
    color: white;
}

.sol > a:hover{
    color: green;
    transform: scale(1.5);
}

.sol, .allrightsreserved, .sag{
    width: 30vw;
}

@media screen and (max-width: 720px) {
    .sol, .allrightsreserved, .sag{
        width: 80vw;
        text-align: center !important;
    }
}

.sag{
    text-align: right;
}